{% extends "layout.html" %}

{% block title %}
Tweet
{% endblock %}

{% block content %}
<h1 class="text-center">Welcome to KrishX</h1>

<h2>
    {%if form.instance.pk %}Edit Tweet
    {% else %}Create Tweet
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-warning" type="submit">Post</button>

    </form>
    <a href="{%url 'tweet_list'%}">Back to Home Page</a>

</h2>

{% endblock %}